extends layout

block content
  #heady
    .font-med.pure-g.headline
      .pure-u-1-2.text-right
        a(href="http://words.andjosh.com").color-me.head-left #{subnet} 
          span  &
      .pure-u-1-2.text-left
        a(href="http://www.andjosh.com").head-right
          span & 
          |  Josh
  #content.pure-g-r
    .pure-u-1(itemscope, itemtype="http://schema.org/BlogPosting")
      meta(itemprop="author", content="Joshua Beckman")
      meta(itemprop="datePublished", content="#{post.modified}")
      meta(itemprop="headline", content="#{post.title}")
      meta(itemprop="url", content="/post/#{post.slug}")
      if post.image
        img.post-image(itemprop="image", src="#{post.image}", alt="#{post.title}")
      article.blog-post-wrapper.boxed(style="#{post.image ? 'border-top-left-radius:0px;border-top-right-radius:0px;' : ''}")
        a.blog-post-date(href="/post/#{post.slug}") #{moment(post.modified).format("MMM Do, 'YY")}
        h2.blog-post-title.text-center
          a.blog-post-link(href="/post/#{post.slug}") #{post.title}
        .post-body(itemprop="articleBody") !{post.html}
      p.text-center.lede.boxed Read this next:
        br
        a(href="/post/#{relatedPost.slug}").ga-link-trackable(data-gatrack-action="Read this next (post)", data-gatrack-category="Internal link")  #{relatedPost.title}
  include bijoubit