extends layout

block content
  button#main-menu-button.menu-toggle-button
    span Menu
  nav#cbp-spmenu-right.cbp-spmenu.cbp-spmenu-vertical.cbp-spmenu-right.day
    include menuItems

  #content.pure-g-r
    .pure-u-1-6
      span.post-date.transition #{moment(post.modified).fromNow()}
    .pure-u-2-3
      article#single-post(itemscope, itemtype="http://schema.org/BlogPosting")
        meta(itemprop="author", content="Joshua Beckman")
        meta(itemprop="datePublished", content="#{post.modified}")
        h1.blog-post-title
          a.blog-post-link(href="/blog/#{post.slug}", itemprop="url")
            span(itemprop="headline") #{post.title}
        .post-body(itemprop="articleBody") !{post.html}
        .post-meta
        .post-links
          p.related-post READ THIS NEXT:
            a(href="/blog/#{relatedPost.slug}")  #{relatedPost.title}
    .pure-u-1-6
    .pure-u-3-4
      br
      br
      h3.name-header
        a(href="/") JOSHUA BECKMAN
        span(onclick="jshBckmn.setRandomThought(this);")#thoughtBubble.hint
    .pure-u-1-4.pure-hidden-phone
      br
      br
      h4(style="color:white;text-transform:uppercase;")
        span(style="border-top:1px solid white;border-bottom:1px solid white;") Evening Edition
  script
    window.jshBckmn = {
      setRandomThought: function(elem){
        elem.textContent = (jshBckmn.thoughts[Math.floor(Math.random() * jshBckmn.thoughts.length)] + '.');
        elem.style.opacity = '0.9';
      },
      thoughts: !{JSON.stringify(thoughts)},
      fadeDate: function(){
        var d = document.getElementsByClassName('post-date')[0],
          t = document.getElementsByClassName('blog-post-title')[0];
        t.onmouseover = function(){
          classie.add(d, 'date-fadeIn');
        };
        t.onmouseout = function(){
          classie.remove(d, 'date-fadeIn');
        };
      }
    };
    jshBckmn.fadeDate();
    setTimeout(jshBckmn.setRandomThought, 1000, document.getElementById('thoughtBubble'));
    setInterval(function(){
      document.getElementById('thoughtBubble').style.opacity = '0';
      setTimeout(jshBckmn.setRandomThought, 1000, document.getElementById('thoughtBubble'));
    },10000);
