extends layout

block content

  #content.pure-g-r
    .pure-u-1.text-center
      h1.name-header
        a(href="/").ga-click-trackable(data-gatrack-action="Name-button (Blog)") JOSHUA BECKMAN
    .pure-u-3-4
    .pure-u-1-4.pure-hidden-phone
      h4(style="color:white;text-transform:uppercase;", title="You are reading in the dark, because it should be dark around you!")
        span(style="border-top:1px solid white;border-bottom:1px solid white;") Evening Edition
    if queryString
      .pure-u-1-6
      #post-list.pure-u-2-3
        p
          a(href="/") HOME
        p.lead #{posts.length} results for: <code>#{queryString}</code>
      .pure-u-1-6
    for p in posts
      .pure-u-1-6
      .pure-u-2-3
        .blog-img-wrapper
          if p.image 
            a(href="/blog/#{p.slug}")
              canvas.blog-image-canvas(data-image-src="#{p.image}", style="margin:0 auto;display:block;")
      .pure-u-1-6
      .pure-u-1-6
        span.post-date.transition #{moment(p.modified).fromNow()}
      .pure-u-2-3
        .blog-post-wrapper
          h2.blog-post-title.text-center
            a.blog-post-link(href="/blog/#{p.slug}") #{p.title}
          .post-body 
            if p.colors && (p.colors.length > 0)
                span.colors
                  for color in p.colors 
                    span(style="background-color:#{color.hex ? color.hex : 'rgb('+[color.red,color.green,color.blue].join(',')+')'};")
            | !{p.lede}
          a.blog-more-link(href="/blog/#{p.slug}") Continue reading &rarr;
      .pure-u-1-6
    if posts.length < 1
  script
    window.jshBckmn = window.jshBckmn || {};