// This page served for fun by jbckmn to prove that most things are possible with CSS and imagination.
!{body[0]}
link(rel='stylesheet', href='/stylesheets/css-tricked-out.css')
link(rel='canonical', href='http://css-tricks.com')
!{body[1]}
!{body[2]}
#messages.banner-wrap(style="display:none;")
#label-bar
  h1 CSS-Tricked-Out by <a href="http://twitter.com/jbckmn" style="color:#4472B9;" target="_blank">jbckmn</a>
  p Inspired by the fabulous <a href="http://css-tricks.com" target="_blank">CSS-Tricks</a>.
script(src="/javascripts/vendor/lodash.min.js")
script(src="/javascripts/lodash-ext.js")
script(src="/javascripts/css-tricked-out.js")
!{body[3]}
!{body[4]}