doctype 5
html
  head
    // Hey! Email me at jsh@bckmn.com - I'm always looking for projects.
    title #{title || 'Joshua Beckman (jbckmn)'}
    meta(name="viewport", content="width=device-width")
    meta(name="description", content="#{description || 'Joshua Beckman is a freelance photographer, videographer and web developer available for hire in downtown Chicago, IL.'}")
    link(rel='icon', href="/images/favicon.png")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='canonical', href='http://bckmn.com#{req.path}')
    link(rel='author', href='https://plus.google.com/u/0/103739350784081056661')
    meta(property='og:locale', content='en_US')
    meta(property='og:url', content='http://bckmn.com#{req.path}')
    meta(property='og:title', content='#{title || "Joshua Beckman (jbckmn)"}')
    meta(property='og:site_name', content="Joshua Beckman (jbckmn)")
    meta(property='og:type', content='website')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='@jbckmn')
    meta(name='twitter:creator', content='@jbckmn')
    meta(name='twitter:url', content='http://bckmn.com#{req.path}')
    meta(name='twitter:title', content='#{title || "Joshua Beckman (jbckmn)"}')
    meta(name='twitter:image', content='#{mainImage || ""}')
    meta(name='twitter:description', content="#{description || 'Joshua Beckman is a freelance photographer, videographer and web developer available for hire in downtown Chicago, IL.'}")
    meta(name='twitter:domain', content='http://bckmn.com')
    meta(name="apple-mobile-web-app-capable", content="yes")
    if (!noTracking)
      script.
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-35141887-2']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

  body
    main.container.day
      #message
        if message.length > 0
          p.pull-center.message
            a(onclick="dismissAlert(this.parentNode.parentNode);", style="margin-right:1em;")
              span.x-remove X
            | #{message}
      #error
        if error.length > 0
          p.pull-center.error
            a(onclick="dismissAlert(this.parentNode.parentNode);", style="margin-right:1em;")
              span.x-remove X
            | #{error}

      block content

      footer.footer
        .pure-g-r
          .pure-u-1.lightbox.transition
            ul#strip.gallery
    if socket
      script(src='/socket.io/socket.io.js')
    if (post || posts)
      script(src="/javascripts/highlight.pack.js")
      script.
        hljs.initHighlightingOnLoad();
    script(src="/javascripts/classie.js")
    include menuControls
    include lightbox
    include scrollTo
    include creator
    include nightControls
    script.
      function dismissAlert(elem){elem.innerHTML = '';};
      var searchField = document.getElementById('search-field'),
        searchSubmit = document.getElementById('search-submit');
      if(searchField){
        if (searchSubmit) {
          searchSubmit.onclick = function(){
            window.location = window.location.origin+'/search?q='+searchField.value;
          }
        }
        searchField.onkeydown = function(ev){
          if(ev.keyCode == 13){
            window.location = window.location.origin+'/search?q='+searchField.value;
          }
        }
      }
