extends layout

block content
  button#main-menu-button.menu-toggle-button
    span Menu
  nav#cbp-spmenu-right.cbp-spmenu.cbp-spmenu-vertical.cbp-spmenu-right
    include menuItems
  #content.pure-g-r
    .pure-u-1
      h1 <a href="/">Joshua Beckman</a> accepts credit cards!
      form(accept-charset="UTF-8", action="/thanks", method="post").pure-form.pure-form-aligned
        fieldset
          .pure-control-group
            label $
            input(type="number", name="amount", value="#{amount ? amount : ''}", min=".50", max="9999", step="0.01", size="4", required)
          .pure-control-group
            label Your email
            input(type="email",name="email",value="#{email ? email : ''}", required, placeholder="Your email")
          .pure-control-group
            label Optional message:
            input(type="text", name="message", value="#{text ? text : ''}", placeholder="Message")
          .pure-controls
            button.pay-with-card.btn(type="submit") Pay with card

  script(src='/javascripts/jquery-1.10.2.min.js')
  script(src='https://checkout.stripe.com/v2/checkout.js')
  script.
    $(function () {
      $('form').submit(function () {
        if($('input[name="stripeToken"]').length < 1) {
          var token = function(res){
            var $input = $('<input type=hidden name=stripeToken />').val(res.id);
            $('button.pay-with-card').attr('disabled', 'disabled');
            $('form').append($input).submit();
          };

          StripeCheckout.open({
            key:         '#{publicKey}',
            amount:      Math.round(100 * $('input[name="amount"]').val()),
            name:        '#{title}',
            panelLabel:  'Pay',
            token:       token
          });

          return false;
        }
      });
    });