extends layout

block content

  #content.pure-g-r
    .pure-u-1.text-center(style="min-height:90vh")
      h1.name-header
        a(href="/").ga-click-trackable(data-gatrack-action="Name-button (Blog)") JOSHUA BECKMAN
        small.muted(style="display:block;margin-top:10px;") appreciates you
      form(accept-charset="UTF-8", action="/pay/thanks", method="post").pure-form(style="margin:0 auto; max-width:300px;")
          label.dollars-label $
          input(type="number", name="amount", value="#{amount ? amount : '3'}", min="1", max="9999", step="1", size="4", required, style="text-align:right;").dollars.pure-input-1-3
          fieldset.pure-group
            input(type="email",name="email",value="#{email ? email : ''}", required, placeholder="Your email", title="Your email").pure-input-1
            input(type="text", name="message", value="#{text ? text : ''}", placeholder="Your message", title="Your message").pure-input-1
          .pure-controls
            button.pay-with-card.btn(type="submit").pure-u-1 Pay with card
      br
      br
      a(href="http://stripe.com")
        small.muted Secured and
        br
        img(src="/images/stripe.png", width="150")

  script(src='/javascripts/vendor/jquery-1.10.2.min.js')
  script(src='https://checkout.stripe.com/v2/checkout.js')
  script.
    $(function () {
      $('form').submit(function () {
        if($('input[name="stripeToken"]').length < 1) {
          var token = function(res){
            var $input = $('<input type=hidden name=stripeToken />').val(res.id);
            $('button.pay-with-card').attr('disabled', 'disabled');
            $('form').append($input).submit();
          };

          StripeCheckout.open({
            key:         '#{publicKey}',
            amount:      Math.round(100 * $('input[name="amount"]').val()),
            name:        'Joshua Beckman',
            panelLabel:  'Pay',
            token:       token
          });

          return false;
        }
      });
    });
