extends layout

block content
  #main
    .text-center
      include bijousvg
    h1
      a(href="/", title="Blog homepage") Words and Josh
    p My name is 
      a(href="http://www.andjosh.com", title="www & Josh").ga-link-trackable Josh Beckman
      | . I build things for the internet and for your phones. This fancy blog comes with an 
      a(href="/rss.xml", title="RSS Feed").ga-link-trackable RSS feed
      |  and a 
      a(href="http://tinyletter.com/jbckmn", title="Newsletter").ga-link-trackable newsletter
      | .
    hr.large
    if queryString
      h1 #{posts.length} results for: <code>#{queryString}</code>
      form(action="/search", method="GET")
        label(for="s") Search: 
        input(type="text", name="q", id="q")
    for p in posts
      article
        if p.image
          img.post-image(itemprop="image", src="#{p.image}", alt="#{p.title}")
        h2
          a.blog-post-link(href="/post/#{p.slug}") #{p.title}
        .post-body !{p.html}
    if posts.length >= 10
      hr.large
      p.text-center
        a(href="/?offset=#{req.query.offset ? (parseInt(req.query.offset, 10) + 10).toString() : '10'}") Next Page &raquo;