extends layout

block content
  #main
    h1
      a(href="/", title="Blog homepage") Words and Josh
    p My name is 
      a(href="http://www.andjosh.com", title="www & Josh").ga-link-trackable Josh Beckman
      | . I build things for the internet and for your phones. This fancy blog comes equipped with an 
      a(href="/rss.xml", title="RSS Feed").ga-link-trackable RSS feed
      |, 
      a(href="#search") search
      |, and a 
      a(href="http://tinyletter.com/andjosh", title="Newsletter").ga-link-trackable newsletter
      | .
    hr.large
    if queryString
      h1 #{posts.length} results for: <code>#{queryString}</code>
    for p in posts
      article
        h6 #{moment(p.modified).format("MMM Do, YYYY")}
        if p.image
          img.post-image(itemprop="image", src="#{p.image}", alt="#{p.title}")
        h2
          a.blog-post-link(href="/post/#{p.slug}") #{p.title}
    if posts.length < 1
      h2 No posts found!
    if posts.length >= 5
      hr.large
      p.text-center
        a(href="/?offset=#{req.query.offset ? (parseInt(req.query.offset, 10) + 10).toString() : '10'}") Next Page &raquo;
    form(action="/search", method="GET")#search.text-center.blog-search
        label(for="q") Search:
        input(type="text", name="q", id="q")
        button Submit
