extends layout

block content
  .font-med.pure-g.headline
    .pure-u-1-2.text-right
      a(href="http://words.andjosh.com").color-me.head-left #{subnet} 
        span  &
    .pure-u-1-2.text-left
      a(href="http://www.andjosh.com").head-right
        span & 
        |  Josh
  if queryString
    p.text-center.lede.boxed #{posts.length} results for: <code>#{queryString}</code>
  else
    p.text-center.lede
      a(href="/rss.xml", title="RSS Feed", style="padding:0.5em 1em;").boxed.ga-link-trackable
        span.icon-rss
  #content.pure-g-r
    for p in posts
      .pure-u-1
        if p.image
          img.post-image(itemprop="image", src="#{p.image}", alt="#{p.title}")
        .blog-post-wrapper.boxed(style="#{p.image ? 'border-top-left-radius:0px;border-top-right-radius:0px;' : ''}")
          a.blog-post-date(href="/post/#{p.slug}") #{moment(p.modified).format("MMM Do, 'YY")}
          h2.blog-post-title.text-center
            if p.link
               a.blog-post-link.outbound-post-link.ga-link-trackable(href="#{p.link}", title="View content on external site") #{p.title}
                span  &raquo;
            else
              a.blog-post-link.ga-link-trackable(href="/post/#{p.slug}", title="View post") #{p.title}
          .post-body !{p.html}
  if posts.length < 1
  if posts.length >= 10
    p.text-center.lede.boxed
      a(href="/?offset=#{req.query.offset ? (parseInt(req.query.offset, 10) + 10).toString() : '10'}") Next Page
  #mc_embed_signup.boxed.lede.text-center
    h5 Receive new posts by email
    form#mc-embedded-subscribe-form.validate(action='http://bckmn.us3.list-manage.com/subscribe/post?u=1eebaff46609c8040a88eb538&id=545c6aec6a', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='novalidate')
      .mc-field-group
        input#mce-EMAIL.required.email(type='email', value='', name='EMAIL', placeholder="Your Email")
      div(style='position: absolute; left: -5000px;')
        input(type='text', name='b_1eebaff46609c8040a88eb538_545c6aec6a', tabindex='-1', value='')
      .clear
        input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')
  #mce-responses.clear
    #mce-error-response.response.boxed.text-center(style='display: none;')
    #mce-success-response.response.boxed.text-center(style='display: none;')
  include bijoubit
  include mailchimpjs