extends layout

block content
  #heady.blog
    h1.font-med.headline
      a(href="/", title="Blog homepage") #{subnet} & Josh
    ul.top-links
      li
        a(href="http://www.andjosh.com", title="www & Josh").ga-link-trackable andjosh.com
      li
        a(href="/about", title="About & Josh").ga-link-trackable About
      li
        a(href="/rss.xml", title="RSS Feed").ga-link-trackable RSS
  if queryString
    .post-body
      p.text-center #{posts.length} results for: <code>#{queryString}</code>
      form.text-center(action="/")
        label(for="s") Search: 
        input(type="text", name="s", id="s")
      br
  .blog-list
    for p in posts
      article.article-wrap.in-roll
        if p.image
          img.post-image(itemprop="image", src="#{p.image}", alt="#{p.title}")
        else
          br
        span.blog-post-date
          a(href="/post/#{p.slug}", title="Last modified #{p.modified}") #{moment(p.modified).format("MMM Do, 'YY")}
        h2.blog-post-title
          if p.link
            a.blog-post-link.outbound-post-link.ga-link-trackable(href="#{p.link}", title="View #{p.title} on external site", rel="external in-reply-to bookmark") #{p.title}
              span  &raquo;
          else
            a.blog-post-link(href="/post/#{p.slug}") #{p.title}
        .post-body !{p.html}
        .post-colors
          if p.colors
            for color in p.colors 
              span(style="display:inline-block;height:5px;width:20%;background-color:#{color.hex ? color.hex : 'rgb('+[color.red,color.green,color.blue].join(',')+')'};")
  if posts.length < 1
  if posts.length >= 10
    p.blog-post-date.blog
      a(href="/?offset=#{req.query.offset ? (parseInt(req.query.offset, 10) + 10).toString() : '10'}") Next Page &raquo;
  #newsletter_signup.boxed.lede.text-center
    h5 Receive new posts weekly at your inbox
    form(style='text-align: center;', action='https://tinyletter.com/jbckmn', method='post', target='popupwindow', onsubmit='window.open(\'https://tinyletter.com/jbckmn\', \'popupwindow\', \'scrollbars=yes,width=800,height=600\');return true')
      p
        label(for="email") Your email: 
        input#tlemail(type='email', style='width: 140px;', name='email', placeholder="your@email.com")
      input(type='hidden', value='1', name='embed')
      input.button(type='submit', value='Subscribe')
      small Powered by 
        a(href='https://tinyletter.com', target='_blank') TinyLetter
  p.foot-credit.blog
    small <a href="http://about.andjosh.com" rel="me, author">Josh Beckman</a> is a full-stack-data-designer-developer-dude.
  include bijousvg